body{
    user-select: none;
    padding: 0;
    margin: 0;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(68,199,103,1) 0%, rgba(104,69,199,1) 100%)
}
.funfact{
    opacity: 0%;
}
.about{
    margin-left: 75vh;
    position: absolute;
    text-align: center;
    overflow-wrap:break-word;
    inline-size: 350px;
}
.EduBtn{
    background:linear-gradient(to bottom, #44c767 5%, #4fd904 100%);
	background-color:#44c767;
	border-radius:25px;
	border:4px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:28px;
	font-weight:bold;
	padding:19px 31px; 
    position: relative;
    top: 200px;
    left: 40px;  
    z-index: 1;
}
.EduBtn:hover {
    background:linear-gradient(to bottom, #4fd904 5%, #44c767 100%);
	background-color:#4fd904;
}
.portfolio__overlay1{

    opacity: 0%;
    transition: opacity 550ms;
}
.EduBtn:hover +.portfolio__overlay1 {
    width: 100%;
    height: 1879px;
    border-radius: 43% 0% 0% 25% / 40% 25% 25% 0%;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.09427521008403361) 0%, rgba(255,255,255,0) 22%, rgba(68,199,103,1) 35%);
    z-index: 2;
    position:fixed;
    opacity: 100%;
}

.WorkBtn {
    background:linear-gradient(to bottom, #6845c7 5%, #3e04db 100%);
    background-color:#6845c7;
    border-radius:25px;
    border:4px solid #4019ab;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Verdana;
    font-size:28px;
    font-weight:bold;
    padding:19px 31px;
    position: relative;
    top: 48px;
    left: 1687px;
    z-index: 1;
}
.WorkBtn:hover {
    background:linear-gradient(to bottom, #3e04db 5%, #6845c7 100%);
    background-color:#3e04db;
}
.portfolio__overlay2{
    opacity: 0%;
    transition: opacity 550ms;
}
.WorkBtn:hover +.portfolio__overlay2 {
    width: 99.9%;
    height: 1879px;
    border-radius: 0% 25% 0% 25% / 40% 40% 25% 0%;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.09427521008403361) 0%, rgba(255,255,255,0) 22%, rgba(62,4,219,1) 92%);
    z-index: 2;
    position: fixed;
    opacity: 100%;
}
.EduBorder{
    z-index: 2;
    left: 500px;
    position: relative;
    transform: translate3d(-50%, -50%, 0);
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 300px;
    padding: 5px;
    border: 2px solid #b78846;
    text-align: center;
    opacity: 0%;
    }
    .EduBtn:hover .EduBorder{
        opacity: 100%;
        transition: opacity 3s;
    }
    .EduBorder:before, .EduBorder:after {
        position: relative;
        width: 14px;
        height: 14px;
        font-size: 14px;
        color: #b78846;
        border: 2px solid #b78846;
        line-height: 12px;
        top: 5px;
        text-align: center;
      }
      .EduBorder .EduBorder-inner {
        position: relative;
        border: 2px solid #b78846;
        padding: 40px;
      }
      .EduBorder .EduBorder-inner:before, .EduBorder .EduBorder-inner:after {
        position: relative;
        width: 14px;
        height: 14px;
        font-size: 14px;
        color: #b78846;
        border: 2px solid #b78846;
        line-height: 12px;
        bottom: -2px;
        text-align: center;
      }
      #img1{
          max-width:300px; 
    max-height:300px;
     position: relative;
     left: 168px;
     top: 347px;
     opacity: 0;
}
.EduBorder#school1{
    left: 320px;
    top: 406px;
}
.EduBtn:hover~img#img1{
    opacity:1;
    transition: opacity 3s;
}
.EduBtn:hover~div#school1{
    opacity:1;
    transition: opacity 3s;
}
#img2{
    max-width:300px; 
    max-height:300px; 
    position:relative;
    left: 596px;
    top: -122px;
    z-index: 2;
    opacity: 0;
}
.EduBorder#school2{
    left: 745px;
    top:-67px;
}
.EduBtn:hover~img#img2{
    opacity: 1;
    transition: 3s 0.8s ease;
}
.EduBtn:hover~div#school2{
    opacity:1;
    transition: 3s 0.8s ease;
}
#img3{
    max-width:300px; 
    max-height:300px; 
    position: relative;
    bottom: 583px;
    left: 1052px;
    z-index: 2;
    opacity: 0;
}

.EduBorder#school3{
    left: 1202px;
    top: -530px;
}
.EduBtn:hover~img#img3{
    opacity: 1;
    transition: 3s 1.3s ease;
}
.EduBtn:hover~div#school3{
    opacity:1;
    transition: 3s 1.3s ease;
}
#img4{
    max-width: 300px;
    max-height: 250px;
    position: relative;
    z-index: 2;
    top: -947px;
    left: 1523px;
    opacity: 0;
}
.EduBorder#school4{
    left: 1672px;
    top: -896px;
}
.EduBtn:hover~img#img4{
    opacity: 1;
    transition: 3s 1.8s ease;
}
.EduBtn:hover~div#school4{
    opacity:1;
    transition: 3s 1.8s ease;
}
#photo{
    max-width: 250px;
    max-height: 300px;
}
#photo:hover{
    
    transform: scale(1.6);
    box-shadow:2px 2px rgba(0, 0, 0, 0.5);
    transition: transform 500ms box-shadow;
}
.arrow #arrow1{
    top: 308px;
    left: 474px;
    position: relative;
    opacity: 0;
}
.EduBtn:hover~div i#arrow1{
    opacity:1;
    transition: 3s 0.25s ease;
}
.arrow #arrow2{
    top: -162px;
    left: 899px;
    position: relative;
    opacity: 0;
}
.EduBtn:hover~div i#arrow2{
    opacity:1;
    transition: 3s 1.15s ease;
    z-index: 2;
}
.arrow #arrow3{
    top: -617px;
    left: 1355px;
    position: relative;
    opacity:0;
}
.EduBtn:hover~div i#arrow3{
    opacity:1;
    transition: 3s 1.75s ease;
    z-index: 2;
}
.WorkBorder{
    opacity: 0%;
}